p Hello,

p You are receiving this notification because a blacklisted person was detected in your security system.
p The individual wass identified as #{name} and is shown below.
p If this individual is not meant to be on your personal blacklist, please adjust your personal configurations at #[a(href='meowl.com') our website]. 
p Otherwise you should take preemptive measures if you feel that this individual is dangerous.