# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# Core
*                             @meowl-surveillance-system @chc5 @yliu0715 @MicLi01 @Akasora39 @melvinheks
