p Hello #{name},
p You are receiving this notification because a whitelisted person was detected in your security system. The individual identified is shown below.
img(src=`${img}`, alt='whitelisted person')
p If this individual is not meant to be on your personal whitelist, please adjust your personal configurations at
a(href='meowl.com') our website